# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
Debug/
Release/
x64/
x86/
build/

# Intermediate files
*.obj
*.o
*.pch
*.pdb
*.ilk
*.idb
*.ipch
*.tlog

# Executables
*.exe
*.out

# Visual Studio cache
*.VC.db
*.VC.opendb


# Logs
*.log